<style>

  .card {
    all: unset;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #673ab7;
    height: 340px;
    width: 250px;
    margin: 10px 8px 16px;
    padding: 10px;
    display: flex;
    line-height: 24px;
  }


  .card2 {
    all: unset;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #673ab7;
    height: 340px;
    width: 250px;
    margin: 10px 8px 16px;
    padding: 10px;
    display: flex;
    line-height: 24px;
  }
  h1{
    font-size: 2.8em;
    font-family: Harrington;
    margin: 8px 0;
    margin-left: 245px;
    margin-right: 250px;
    background-color: rgb(181, 117, 253);
  }
  h3,
  h4,
  h5,
  h6 {
		font-size: 2.8em;
    font-family: Harrington;
    margin: 8px 0;
    margin-left: 340px;
    margin-right: 367px;
    background-color: rgb(181, 117, 253);
  }
  h2{
    margin: 8px 8px;
    margin-left: 400px;
    margin-right:440px;
    background-color:rgb(181, 117, 253);
  }
</style>
<h1>Bienvenido a nuestra página!!!</h1>
<h2>Nuestros proveedores</h2>

<table align="center">
    <td>
  <div class="card">
<table align="right" >
  <td><img height="170" with="130" align="center" src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t1.6435-9/154868576_1149719762145021_6730461584021011198_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=WnkO-6I8qnUAX8j23Cd&tn=kKMFCk5aoWi3hm7E&_nc_ht=scontent.fsrz1-2.fna&oh=659e8325afcaf498295d01a12a4283b0&oe=61B67A61"/></td>
  <tr></tr>
  <span align="center"><a target="_blank" rel="noopener" href="https://www.facebook.com/sarahvientos" >
    <span>Sara Vientos</span> </a></span>
  <tr></tr>
   <td><p>Venta de accesorios e instrumentos musicales.
   </p></td>


</table>
  </div>
</td>
<td>
  <div class="card2">

    <table align="right" cellspacing="0" cellpadding="">
      <td><img height="180" with="180" align="center" src="https://scontent.fsrz1-2.fna.fbcdn.net/v/t31.18172-8/13909054_1720551904863443_5863567467354081714_o.png?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=eVYsGEsbCCUAX9ja3Kd&_nc_ht=scontent.fsrz1-2.fna&oh=e85262b29fdb530474d233b3946c100b&oe=61B62636"/></td>
      <tr></tr>
      <span align="center"><a target="_blank" rel="noopener" href="https://www.facebook.com/ICK.Lutherie" >
        <span>ICK Lutherie</span> </a></span>
      <tr></tr>
       <td><p>Reparación, restauración y venta de instrumentos y accesorios de instrumentos.
       </p></td>


    </table>
      </div>
    </td>
    </table>
